# Python
__pycache__/
*.py[cod]
.venv/
.env

# Datos procesados y modelos generados
data/processed/*
models/*.joblib
models/*.pkl
results/generated/

# Entornos e IDE
.DS_Store
.vscode/
.pytest_cache/
